recursive-include native *.py *.pyx *.pxd *.h *.hpp *.cc *.cpp *.cu *.patch *.md
recursive-include release *.py *.json *.md *.txt *.in
recursive-include tests *.py
include docs/database-setup.md
prune docs/development
global-exclude __pycache__ *.py[cod] *.so *.o *.a
